body {
    padding: 20px;
    margin: 0 120px;
}

header {
    background-color: burlywood;
    background-image: url("../images/flywheel.jpg");
}

h1 {
    text-align: center;
    color: #fff;
    font-size: larger;
    padding: 30px 0px;
}

h2 {
    color: #f00;
}

section {
    background-color: #5f9ea0;
    display: inline-block;
}

h1, h2 {
    text-transform: uppercase;
}

a {
    text-align: center;
    background-color: #ffe4c4;
    color: #006400;
}

nav a {
    display: inline-block;
    text-decoration: none;
    margin: 10px 40px;
    border-radius: 10px;
    border: 2px solid;
    padding: 10px 50px;
}

.active {
    background-color: yellow;
}

.left {
    padding: 10px;
}