body {
    margin: 1%;
    padding: 1%;

}

header {
    height: 150px;
    width: 100%;
    background-image: url("../images/flywheel.jpg");
    background-color: transparent;

    border: 1px solid black;
}

header nav a {
    margin: 0px auto;
    display: inline-block;
    background-color: transparent;
    text-align: center;
    border: none;
    color: #000000;
    margin-left: 5%;
    padding: 1% 5%;
    text-decoration: none;
    border-radius: 5%;
}

h1 {
    text-align: center;
    color: #FFFFFF;
    background-color: transparent;
    text-transform: uppercase;
}

h2 {
    color: #000000;
    text-transform: uppercase;
}

section {
    background-color: #666666;
}

.active {
    background-color: #FFFFFF;
}

aside a img {
    margin: 0px auto;
    width: 90%;
    display: block;
    border: 2px solid black;
    margin: 10% 0%;

}

.left {
    width: 20%;
    display: inline-block;
    float: left;
    padding: 1%;
    background-color: #666633;
}

.right {
    display: inline-block;
    width: 75%;
    float: left;
    padding: 1%;
    background: #FFF;
}